@import '../util/device.css';
/* Box sizing border-box */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: calc(var(--font-body-scale) * 62.5%);
    color: rgba(var(--color-foreground), 0.75);
}

/* Box sizing */
*, *::before, *::after {
    box-sizing: inherit;
}

/* Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

/* Set default font size and line height */
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
}

@media --tablet-up {
    body {
        font-size: 1.6rem;
    }
}

/* Remove list styles (bullet points) */
ol, ul {
    list-style: none;
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Set default link styles */
a:link, a:visited {
    color: inherit;
}

/* Set default styles for form elements */
input, textarea, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Set default styles for image */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
    color: rgb(var(--color-foreground));
    line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
    word-break: break-word;
}

.h0 {
    font-size: calc(var(--font-heading-scale) * 4rem);
}

@media only screen and (min-width: 750px) {
    .h0 {
        font-size: calc(var(--font-heading-scale) * 5.2rem);
    }
}

h1,
.h1 {
    font-size: calc(var(--font-heading-scale) * 3rem);
}

@media screen and (min-width: 750px) and (max-width: 989px){
    h1,
    .h1 {
        font-size: calc(var(--font-heading-scale) * 3.2rem);
    }
}

@media only screen and (min-width: 990px) {
    h1,
    .h1 {
        font-size: calc(var(--font-heading-scale) * 4rem);
    }
}

h2,
.h2 {
    font-size: calc(var(--font-heading-scale) * 2rem);
}

@media only screen and (min-width: 750px) {
    h2,
    .h2 {
        font-size: calc(var(--font-heading-scale) * 2.4rem);
    }
}

h3,
.h3 {
    font-size: calc(var(--font-heading-scale) * 1.7rem);
}

@media only screen and (min-width: 750px) {
    h3,
    .h3 {
        font-size: calc(var(--font-heading-scale) * 1.8rem);
    }
}

h4,
.h4 {
    font-size: calc(var(--font-heading-scale) * 1.5rem);
}

h5,
.h5 {
    font-size: calc(var(--font-heading-scale) * 1.2rem);
}

@media only screen and (min-width: 750px) {
h5,
.h5 {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
}
}

h6,
.h6 {
    color: rgba(var(--color-foreground), 0.75);
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
}

/* Reusable Classes */
.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media --tablet-up {
    .page-width {
        padding: 0 5rem;
    }
}

/* Helper */

.hidden {
    display: none !important;
}

@media screen and (max-width: 749px) {
    .small-hide {
        display: none !important;
    }
}
  
@media screen and (min-width: 750px) and (max-width: 989px) {
    .medium-hide {
        display: none !important;
    }
}
  
@media screen and (min-width: 990px) {
    .large-up-hide {
        display: none !important;
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
}

.visually-hidden--inline {
    margin: 0;
    height: 1em;
}

.overflow-hidden {
    overflow: hidden;
}

@media (prefers-reduced-motion) {
    .motion-reduce {
        transition: none !important;
        animation: none !important;
    }
}