@import '../util/device.css';

#section--benefits{
    .page-width{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .benefit__wrapper{
        display: grid;
        align-items: center;
        grid-template-columns: 30px auto;
        column-gap: 15px;
        color: #000000;

        span{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 200px;
            max-width: 30px;

            svg{
                height: auto;
                width: 100%;
            }
        }

        h2{
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;

            color: #000000;
        }
    }
}