@import '../util/device.css';

#section--hero{
   
    .section__image{
        .image-ratio__container{
            .image-ratio{
                &::before {
                    padding-bottom: min(1000px, 95vh);
                }
            }

            @media --mobile{
                .image-ratio{
                    &::before {
                        padding-bottom: min(550px, 90vh);
                    }
                }
            }
        }
    }

    .section__content{
        position: absolute;
        display: block !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        
        @media --mobile{
            &{
                padding-top: 20px;
                padding-right: 15px;
            }
        }
        
        .image-ratio__container{
            .image-ratio{
                &::before {
                    padding-bottom: 69.25%;
                }
            }
        }
    }

    .section-content__image{
        width: 100%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;

        @media --mobile{
            &{
                max-width: 70vw;
                margin-right: 0;
            }
        }
    }

    .section-content__cta{
        @media --mobile{
            &{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: 0;

                max-width: 70vw;
            }
        }
    }
}