@import '../util/device.css';

#section--vipbanner{
    
   --color-foreground: 255,255,255;

    .section__image{
        .image-ratio__container{
            .image-ratio{
                &::before {
                    padding-bottom: min(300px, 6%);
                }
            }

            @media --tablet{
                .image-ratio{
                    &::before {
                        padding-bottom: 10%;
                    }
                }
            }

            @media --mobile{
                .image-ratio{
                    &::before {
                        padding-bottom: 40%;
                    }
                }
            }

        }
    }

    .section__content{
        position: absolute;
        display: block !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;

        @media --mobile{
            &{
                padding: 20px;
            }
        }

        .grid{
            height: 100%;
            width: 100%;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
        }

        .grid__item{
            display: flex;
            align-items: center;
        }
    }


    .section__copy{
        width: 100%;

        h2{
            font-weight: 700;
            font-size: 26px;
            line-height: 33px;
            text-transform: uppercase;
        }

        @media --tablet{
            h2{
                font-size: 25px;
                line-height: 32px;
            }
        }

        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: rgba(var(--color-foreground),0.8);
            max-width: 355px;
            margin-left: auto;
            margin-right: auto;
        }

        @media --mobile{
            h2{
               text-align: center;
            }

            p{
                font-size: 15px;
                line-height: 20px;
                text-align: center;
            }
        }
    }


    .section__cta{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}