@import 'abstract/typography.css';
@import 'abstract/variables.css';

@import 'abstract/global.css';
@import 'abstract/animation.css';

@import 'layout/grid.css';

@import 'component/button.css';
@import 'component/marquee.css';
@import 'component/image-ratio.css';
@import 'component/lazy-image.css';

@import 'section/header.css';
@import 'section/benefits.css';
@import 'section/hero.css';



@import 'section/footer.css';


main{
    min-height:3000px;
    background-color: #fafafa;
/* 
    *{
        border: 1px dashed rgba(38,38,38,0.38);
    } */
}