@import 'abstract/typography.css';
@import 'abstract/variables.css';

@import 'abstract/global.css';
@import 'layout/grid.css';

@import 'section/header.css';



@import 'section/footer.css';


main{
    min-height:3000px;
    background-color: #fafafa;

    *{
        border: 1px dashed rgba(38,38,38,0.38);
    }
}